/*----------------------------*/
/* Google Font */
/*----------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap");

/*----------------------------*/
/* Basic Setup */
/*----------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background: #fff;
  color: #555;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 10px;
  scroll-behavior: smooth;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
}

body {
  width: 100vw;
}

/*----------------------------*/
/* Reusable Components */
/*----------------------------*/

/*------ Grid ---------*/
.row {
  width: 114rem !important;
  margin: 0 auto !important;
  height: auto !important;
  overflow: hidden;
}

section {
  padding: 8rem 0;
  overflow: hidden;
  width: 100vw;
}

.box {
  padding: 1rem;
}

/*------ h1,h2,h3,h4,h5,h6 --------*/
h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-weight: 400;
}

h1 {
  color: #fff;
  font-size: 4.4rem;
  word-spacing: 0.6rem;
  line-height: 5.3rem;
  margin-bottom: 2rem;
}

h2 {
  color: #111;
  font-size: 3.6rem;
  word-spacing: 0.3rem;
  margin-bottom: 2.5rem;
  text-align: center;
}

h2::after {
  content: "";
  display: block;
  background: #ff7b00;
  height: 0.2rem;
  width: 18rem;
  margin: 2rem auto 0;
}

h3 {
  font-size: 2.2rem;
  margin-bottom: 1.5rem;
  letter-spacing: 0.09rem !important;
}

/*------ Paragraphs ------------*/
.para-head {
  color: #111;
  font-size: 2rem;
  font-weight: 400;
  line-height: 145%;
  width: 70%;
  margin: 0 auto 2rem;
  text-align: center;
}

/*------ Button ------------*/
.btn,
.btn:link,
.btn:visited {
  color: #fff;
  display: inline-block;
  font-size: 1.8rem;
  font-weight: 400 !important;
  padding: 1rem 2.5rem;
  text-decoration: none;
  border: 1px solid #fff;
  border-radius: 3rem;
  margin: 0.5rem 1rem 1rem 0;
  cursor: pointer;
  transition: all 0.4s;
}

.btn-primary,
.btn-primary:link,
.btn-primary:visited {
  background: #ff7b00;
  border: 1px solid #ff7b00;
  border-radius: 0.5rem;
  margin-right: 1rem !important;
}

.btn-primary:hover,
.btn-primary:active {
  background: #dd6b00;
  border: 1px solid #dd6b00;
}

.btn-secondary,
.btn-secondary:link,
.btn-secondary:visited {
  border: 1px solid #ff8d22;
  color: #ff8d22;
}

.btn-secondary:hover,
.btn-secondary:active {
  background: #dd6b00;
  color: #fff;
  border: 1px solid #dd6b00;
}

/*----------------------------*/
/* Header Section*/
/*----------------------------*/
header {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../Images/Hero-bg.jpg) center center no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

/*------ Nav ---------*/
.navigation {
  width: 100vw;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img {
  display: block;
  height: 10vh;
  width: auto;
}

.nav-menu ul {
  display: flex;
  align-items: center;
  list-style: none;
}

.nav-menu ul li a,
.nav-menu ul li a:link,
.nav-menu ul li a:visited {
  font-size: 1.6rem;
  text-decoration: none;
  color: #fff;
  margin-right: 2rem;
  font-weight: bold;
  border-bottom: 2px solid transparent;
  transition: all 0.5s;
}

.nav-btn {
  margin: 0 3rem;
}

.menus:hover,
.menus:active {
  border-bottom: 2px solid #ff7b00 !important;
}

/*------- Sticky Nav ---------*/
.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  background: rgba(255, 255, 255, 0.98);
  box-shadow: 0 2px 2px #efefef;
  z-index: 999;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
}

.sticky .nav-menu ul li a,
.sticky .nav-menu ul li a:link,
.sticky .nav-menu ul li a:visited {
  color: #555;
}

/*------- Hamburger Button ---------*/
.responsive-menu-btn {
  display: none;
}

.ham-btn {
  width: 4rem;
  height: 4rem;
  border: 0.3rem solid #dd6b00;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}

.hamburger-btn {
  width: 2.5rem;
  height: 0.3rem;
  background: #dd6b00;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}

.hamburger-btn::before,
.hamburger-btn::after {
  content: "";
  position: absolute;
  width: 2.5rem;
  height: 0.3rem;
  background: #dd6b00;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}

.hamburger-btn::before {
  transform: translateY(-0.7rem);
  -webkit-transform: translateY(-0.7rem);
  -moz-transform: translateY(-0.7rem);
  -ms-transform: translateY(-0.7rem);
  -o-transform: translateY(-0.7rem);
}

.hamburger-btn::after {
  transform: translateY(0.7rem);
  -webkit-transform: translateY(0.7rem);
  -moz-transform: translateY(0.7rem);
  -ms-transform: translateY(0.7rem);
  -o-transform: translateY(0.7rem);
}

.ham-btn.open .hamburger-btn {
  background: transparent;
}

.ham-btn.open .hamburger-btn::before {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}

.ham-btn.open .hamburger-btn::after {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
}

/*------- Hero ---------*/
.hero {
  width: 100vw;
  height: 90vh;
}

.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*----------------------------*/
/* Features Section*/
/*----------------------------*/
.features {
  width: 100vw;
  height: auto;
}

.features .box i {
  display: block;
  margin: 1rem 0 3rem;
  font-size: 7rem;
  text-align: center;
  color: #fc5619;
}

.box p {
  font-size: 1.7rem;
  line-height: 140%;
  font-weight: 300;
  word-spacing: 0.1rem;
}

/*----------------------------*/
/* Meals Section*/
/*----------------------------*/
.meals {
  padding: 0;
}

.meals ul {
  list-style: none;
  width: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.meals ul li {
  display: block;
  width: 25%;
}

.meals ul li figure {
  overflow: hidden;
  background: #000;
}

.meals ul li img {
  width: 100%;
  height: 30rem;
  transform: scale(1.15);
  opacity: 0.7;
  margin: 0 !important;
  padding: 0 !important;
  transition: all 0.5s;
  cursor: pointer;
}

.meals ul li img:hover {
  transform: scale(1.01);
  opacity: 1;
}

/*----------------------------*/
/* How It Works Section*/
/*----------------------------*/
.how-it-works {
  background: #eee;
}

.steps-box {
  margin-top: 3rem;
}

.steps-box:first-child {
  text-align: right;
  padding-right: 3%;
}

.steps-box:last-child {
  padding-left: 3%;
}

.app-screen {
  width: 40%;
}

.works-step {
  display: flex;
  align-items: center;
  justify-content: left;
  margin: 3rem 0 4rem;
}

.works-step div {
  font-size: 3rem;
  color: #ff7b00;
  border: 2px solid #ff7b00;
  width: 5rem;
  height: 5rem;
  padding: 0.7rem 1.4rem;
  border-radius: 50%;
}

.works-step p {
  font-size: 1.8rem;
  padding: 0 3rem;
}

.btn-app {
  width: 30%;
  margin: 1.5rem 3rem 3rem 0;
  overflow: hidden;
  display: inline-block;
}

.btn-app img {
  width: 100%;
}

/*----------------------------*/
/* Cities Section*/
/*----------------------------*/
.cities .box h3 {
  margin-bottom: 2rem;
}

.box img {
  width: 100%;
  margin-bottom: 2rem;
}

.cities-info {
  display: flex;
  align-items: center;
  justify-content: left;
  margin: 1.2rem 0;
}

.cities-info i {
  font-size: 1.8rem;
  text-align: center;
  color: #fc5619;
  width: 4rem;
  height: auto;
  padding: 0 0.6rem;
}

.cities-info p {
  padding: 0 0 0 1rem;
  font-weight: 400;
}

.cities-info a,
.cities-info a:link,
.cities-info a:visited {
  padding: 0 0 0 1rem;
  font-size: 1.7rem;
  line-height: 140%;
  font-weight: 300;
  word-spacing: 0.1rem;
  color: #ff7b00;
  font-weight: 400;
  transition: all 0.5s;
}

.cities-info a:hover,
.cities-info a:active {
  color: #555;
  text-decoration: none;
}

/*----------------------------*/
/* Testimonials Section*/
/*----------------------------*/
.testimonials {
  background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)),
    url(../Images/back-customers.jpg) center center no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100vw;
}

.testimonials h2 {
  color: #fff;
}

.test-box {
  padding: 1%;
}

.test-box i {
  color: #fff;
  font-size: 3rem;
  padding: 1rem 0 2rem;
}

.test-box p {
  font-size: 1.6rem;
  color: #ddd;
  padding: 0 0 2rem;
  font-weight: 300;
  font-style: italic;
  line-height: 130%;
  word-spacing: 0.2rem;
}

.test-box .user {
  display: flex;
  align-items: center;
  justify-content: left;
}

.test-box .user img {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  margin-right: 1.6rem;
}

.test-box .user p {
  padding: 0;
}

/*----------------------------*/
/* Plans Section*/
/*----------------------------*/
.plans {
  background: #f4f4f4;
}

.plan-box {
  background: #fff;
  border-radius: 0.5rem;
  width: 90%;
  margin-left: 5%;
  padding: 1rem 0.5rem 0;
  box-shadow: 0 0.2rem 0.2rem #dfdede;
}

.plan-box div {
  padding: 1.5rem;
  border-bottom: 1px solid #e8e8e8;
}

.plan-price {
  font-size: 6rem;
  font-weight: 300;
  color: #ff7b00;
  margin-bottom: 1rem;
}

.plan-price span {
  font-size: 1.8rem;
  font-weight: 400;
}

.plan-price-meal {
  font-size: 2rem;
}

.plan-box ul {
  list-style: none;
}

.plan-box ul li {
  padding: 0.5rem 0;
  font-size: 1.8rem;
}

.plan-box ul li i {
  text-align: center;
  color: #fc5619;
  width: 4rem;
  height: auto;
  padding: 0 0.6rem;
}

.plan-box .btn-primary {
  border-radius: 5rem;
}

.plan-box div:last-child {
  text-align: center;
  border: 0;
}

/*----------------------------*/
/* Contact Section*/
/*----------------------------*/
.contact-row {
  width: 70rem;
  margin: 0 auto;
  overflow: hidden;
}

.field {
  width: 70rem;
  height: auto;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.contact-row label {
  font-size: 2rem;
  font-weight: 400;
  color: #000;
  display: block;
}

.contact-row input[type="text"],
.contact-row input[type="email"],
.contact-row textarea,
.contact-row select {
  width: 100%;
  padding: 0.7rem 0.5rem;
  font-size: 1.8rem;
  font-weight: 300;
  border: 1px solid #ccc;
  border-radius: 0.3rem;
}

.contact-row input[type="checkbox"] {
  margin: 0.5rem 0.5rem 1rem 0;
}

.contact-row span {
  font-size: 1.8rem;
  font-weight: 400;
}

*:focus {
  outline: none;
}

/*----------------------------*/
/* Footer Section*/
/*----------------------------*/
footer {
  background: #111;
  padding: 5rem 0;
  overflow: hidden;
  width: 100vw;
}

.footer-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-links ul,
.social-links ul {
  display: flex;
  align-items: center;
  justify-content: left;
  list-style: none;
}

.menu-links ul a,
.menu-links ul a:link,
.menu-links ul a:visited,
.social-links ul a,
.social-links ul a:link,
.social-links ul a:visited {
  font-size: 1.8rem;
  font-weight: 400;
  color: #888;
  text-decoration: none;
  padding-right: 2rem;
  transition: all 0.2s;
}

.menu-links ul a:hover,
.menu-links ul a:active,
.social-links ul a:hover,
.social-links ul a:active {
  color: #ddd;
}

footer p {
  font-size: 1.6rem;
  font-weight: 400;
  color: #888;
  text-align: center;
  padding: 5rem 12rem 0;
  line-height: 130%;
}

footer p:last-child {
  padding: 3rem 12rem 0;
}

footer .heart {
  color: hotpink;
  font-weight: bold;
  font-size: 2.5rem;
}

footer .author {
  font-weight: bold;
  color: red;
}

/* Go Top Button */
.go-top {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  font-size: 2rem;
  padding: 1rem 1.2rem;
  background: orangered;
  border: 1px solid orangered;
  color: #fff;
  border-radius: 1.5rem;
  -webkit-border-radius: 1.5rem;
  -moz-border-radius: 1.5rem;
  -ms-border-radius: 1.5rem;
  -o-border-radius: 1.5rem;
  display: none;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}

.go-top:hover {
  background: rgb(163, 53, 12);
  border: 1px solid rgb(163, 53, 12);
}

.back-top {
  display: block;
}

/*----------------------------*/
/* Media Queries*/
/*----------------------------*/

/*---- From 1024px to 1200px (Big Tablets and Laptops) ----*/
@media only screen and (min-width: 1024px) and (max-width: 1200px) {
  /*------ Grid ---------*/
  .row {
    width: 95vw !important;
  }

  section {
    padding: 6rem 0 !important;
  }

  /*------ Header Section ---------*/
  .nav-btn {
    margin: 0 1rem;
  }

  /*------ Meals Section ---------*/
  .meals {
    padding: 0 !important;
  }

  .meals ul li img {
    height: 27rem;
  }
}

/*---- From 768px to 1023px (Small Tablets and Big Tablet) ----*/
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  /*------ Basic Setup ---------*/
  html {
    font-size: 9px;
  }

  /*------ Grid ---------*/
  .row {
    width: 95vw !important;
    margin: 0 auto !important;
  }

  section {
    padding: 6rem 0 !important;
  }

  .box {
    padding: 0.6rem !important;
  }

  /*------ h1,h2,h3,h4,h5,h6 --------*/
  h1 {
    font-size: 4rem;
    word-spacing: 0.5rem;
    line-height: 5rem;
  }

  h2 {
    font-size: 3.2rem;
  }

  h3 {
    font-size: 1.6rem;
    letter-spacing: 0.05rem !important;
    font-weight: bold !important;
  }

  /*------ Paragraphs ------------*/
  .para-head {
    font-size: 1.8rem;
    line-height: 130%;
    width: 85vw;
    margin: 0 auto 2rem;
  }

  /*------ Header Section ------------*/
  .nav-btn {
    margin: 0 1rem;
  }

  .hero-text {
    transform: translate(-48%, -50%);
  }

  /*------ Meals Section ---------*/
  .meals {
    padding: 0 !important;
  }

  .meals ul li img {
    height: 25rem;
  }

  /*------ Cities Section ---------*/
  .cities-info {
    margin: 1rem 0;
  }

  .cities-info i {
    font-size: 1.6rem;
    width: 3rem;
    padding: 0 0.4rem;
  }

  .cities-info p {
    padding: 0 0 0 0.5rem;
    font-size: 1.6rem;
  }

  .cities-info a,
  .cities-info a:link,
  .cities-info a:visited {
    padding: 0 0 0 0.5rem;
    font-size: 1.6rem;
  }

  /*------ Plan Section ---------*/
  .plan-box div {
    padding: 1.5rem 0.5rem;
  }

  .plan-price {
    font-size: 5rem;
  }

  .plan-price span {
    font-size: 1.8rem;
    font-weight: 400;
  }

  .plan-price-meal {
    font-size: 1.6rem;
  }

  .plan-box ul li {
    padding: 0.5rem 0;
    font-size: 1.6rem;
  }

  .plan-box ul li i {
    width: 2.5rem;
  }
}

/*---- From 601px to 767px (Small Tablets and Small Tablets) ----*/
@media only screen and (min-width: 601px) and (max-width: 767px) {
  /*------ Basic Setup ---------*/
  html {
    font-size: 8px;
  }

  /*------ Grid ---------*/
  .row {
    width: 95vw !important;
    margin: 0 auto !important;
  }

  section {
    padding: 6rem 0 !important;
  }

  .box {
    padding: 0.2rem !important;
  }

  /*------ h1,h2,h3,h4,h5,h6 --------*/
  h1 {
    font-size: 3.8rem;
    word-spacing: 0.5rem;
    line-height: 4.5rem;
  }

  h2 {
    font-size: 2.8rem;
  }

  h3 {
    font-size: 1.3rem;
    letter-spacing: 0.04rem !important;
    font-weight: bold !important;
  }

  /*------ Paragraphs ------------*/
  .para-head {
    font-size: 1.6rem;
    line-height: 130%;
    width: 83vw;
    margin: 0 auto 2rem;
  }

  /*------ Button ------------*/
  .btn,
  .btn:link,
  .btn:visited {
    font-size: 1.6rem;
    padding: 1rem 1.5rem;
    font-weight: 400;
  }

  /*------ Header Section ------------*/
  .nav-menu ul li a,
  .nav-menu ul li a:link,
  .nav-menu ul li a:visited {
    font-size: 1.5rem;
  }

  .nav-btn {
    margin: 0 1rem;
  }

  .hero {
    width: 100vw;
    height: 90vh;
  }

  .hero-text {
    transform: translate(-50%, -50%);
  }

  /*------ Meals Section ---------*/
  .meals {
    padding: 0 !important;
  }

  .meals ul li img {
    height: 20rem;
  }

  /*------ How It Works Section ---------*/
  .app-screen {
    width: 50%;
  }

  .works-step {
    margin: 1rem 0 3rem;
  }

  .btn-app {
    width: 35%;
    margin: 1.5rem 3rem 3rem 0;
  }

  /*------ Cities Section ---------*/
  .cities-info {
    margin: 1rem 0;
  }

  .cities-info i {
    font-size: 1.4rem;
    text-align: center;
    color: #fc5619;
    width: 2rem;
    padding: 0;
  }

  .cities-info p {
    padding: 0 0 0 0.5rem;
    font-weight: 400;
    font-size: 1.5rem;
  }

  .cities-info a,
  .cities-info a:link,
  .cities-info a:visited {
    padding: 0 0 0 0.5rem;
    font-size: 1.5rem;
    line-height: 130%;
  }

  /*------ Testimonials Section ---------*/
  .test-box {
    padding: 1rem;
  }

  .test-box i {
    font-size: 2.5rem;
  }

  .test-box p {
    font-size: 1.6rem;
    padding: 0 0 2rem;
    font-weight: 300;
    font-style: italic;
    line-height: 135%;
    word-spacing: 0.3rem;
  }

  .test-box .user img {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    margin-right: 1.5rem;
  }

  /*------ Plan Section ---------*/
  .plan-box div {
    padding: 1.5rem 0.5rem;
  }

  .plan-price {
    font-size: 4rem;
  }

  .plan-price span {
    font-size: 1.8rem;
    font-weight: 400;
  }

  .plan-price-meal {
    font-size: 1.4rem;
  }

  .plan-box ul li {
    padding: 0.5rem 0;
    font-size: 1.4rem;
  }

  .plan-box ul li i {
    width: 2rem;
  }

  /*------ Contact Section ---------*/
  .contact-row {
    width: 55rem;
  }

  .field {
    width: 55rem;
  }

  .contact-row label {
    font-size: 1.6rem;
  }

  .contact-row input[type="text"],
  .contact-row input[type="email"],
  .contact-row textarea,
  .contact-row select {
    font-size: 1.6rem;
  }

  .contact-row input[type="checkbox"] {
    margin: 0.5rem 0.5rem 1rem 0;
  }

  .contact-row span {
    font-size: 1.6rem;
    font-weight: 400;
  }

  /*------ Footer Section ---------*/
  .menu-links ul a,
  .menu-links ul a:link,
  .menu-links ul a:visited,
  .social-links ul a,
  .social-links ul a:link,
  .social-links ul a:visited {
    font-size: 1.7rem;
    padding-right: 1.6rem;
  }

  footer p {
    font-size: 1.6rem;
    font-weight: 400;
    color: #888;
    text-align: center;
    padding: 5rem 7rem 0;
    line-height: 130%;
  }

  footer p:last-child {
    padding: 3rem 3rem 0;
  }
}

/*---- From 481px to 600px (Big Mobiles and Small Tablets) ----*/
@media only screen and (min-width: 481px) and (max-width: 600px) {
  /*------ Basic Setup ---------*/
  html {
    font-size: 7px;
  }

  /*------ Grid ---------*/
  .row {
    width: 95vw !important;
    margin: 0 auto !important;
  }

  section {
    padding: 6rem 0 !important;
  }

  .box {
    padding: 0.2rem !important;
  }

  /*------ h1,h2,h3,h4,h5,h6 --------*/
  h1 {
    font-size: 3.8rem;
    word-spacing: 0.5rem;
    line-height: 4.5rem;
  }

  h2 {
    font-size: 2.8rem;
  }

  h3 {
    font-size: 1.3rem;
    letter-spacing: 0.04rem !important;
    font-weight: bold !important;
  }

  /*------ Paragraphs ------------*/
  .para-head {
    font-size: 1.6rem;
    line-height: 130%;
    width: 90vw;
    margin: 0 auto 2rem;
  }

  /*------ Button ------------*/
  .btn,
  .btn:link,
  .btn:visited {
    font-size: 1.6rem;
    padding: 1rem 1.5rem;
  }

  /*------ Header Section ------------*/
  .nav-menu ul li a,
  .nav-menu ul li a:link,
  .nav-menu ul li a:visited {
    font-size: 1.5rem;
  }

  .nav-btn {
    margin: 0 1rem;
  }

  .hero {
    width: 100vw;
    height: 90vh;
  }

  .hero-text {
    transform: translate(-50%, -50%);
  }

  /*------ Meals Section ---------*/
  .meals {
    padding: 0 !important;
  }

  .meals ul li img {
    height: 20rem;
  }

  /*------ How It Works Section ---------*/
  .app-screen {
    width: 50%;
  }

  .works-step {
    margin: 1rem 0 3rem;
  }

  .btn-app {
    width: 35%;
    margin: 1.5rem 3rem 3rem 0;
  }

  /*------ Cities Section ---------*/
  .cities-info {
    margin: 1rem 0;
  }

  .cities-info i {
    font-size: 1.4rem;
    text-align: center;
    color: #fc5619;
    width: 2rem;
    padding: 0;
  }

  .cities-info p {
    padding: 0 0 0 0.5rem;
    font-weight: 400;
    font-size: 1.5rem;
  }

  .cities-info a,
  .cities-info a:link,
  .cities-info a:visited {
    padding: 0 0 0 0.5rem;
    font-size: 1.5rem;
    line-height: 130%;
  }

  /*------ Testimonials Section ---------*/
  .test-box {
    padding: 1rem;
  }

  .test-box i {
    font-size: 2.5rem;
  }

  .test-box p {
    font-size: 1.6rem;
    padding: 0 0 2rem;
    font-weight: 300;
    font-style: italic;
    line-height: 135%;
    word-spacing: 0.3rem;
  }

  .test-box .user img {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    margin-right: 1.5rem;
  }

  /*------ Plan Section ---------*/
  .plan-box div {
    padding: 1.5rem 0.5rem;
  }

  .plan-price {
    font-size: 4rem;
  }

  .plan-price span {
    font-size: 1.8rem;
    font-weight: 400;
  }

  .plan-price-meal {
    font-size: 1.4rem;
  }

  .plan-box ul li {
    padding: 0.5rem 0;
    font-size: 1.4rem;
  }

  .plan-box ul li i {
    width: 2rem;
  }

  /*------ Contact Section ---------*/
  .contact-row {
    width: 48rem;
  }

  .field {
    width: 48rem;
  }

  .contact-row label {
    font-size: 1.6rem;
  }

  .contact-row input[type="text"],
  .contact-row input[type="email"],
  .contact-row textarea,
  .contact-row select {
    font-size: 1.6rem;
  }

  .contact-row input[type="checkbox"] {
    margin: 0.5rem 0.5rem 1rem 0;
  }

  .contact-row span {
    font-size: 1.6rem;
    font-weight: 400;
  }

  /*------ Footer Section ---------*/
  .menu-links ul a,
  .menu-links ul a:link,
  .menu-links ul a:visited,
  .social-links ul a,
  .social-links ul a:link,
  .social-links ul a:visited {
    font-size: 1.7rem;
    padding-right: 1.6rem;
  }

  footer p {
    font-size: 1.6rem;
    font-weight: 400;
    color: #888;
    text-align: center;
    padding: 5rem 5rem 0;
    line-height: 130%;
  }

  footer p:last-child {
    padding: 3rem 3rem 0;
  }
}

/*---- 480px and down (Small Mobiles) ----*/
@media only screen and (max-width: 480px) {
  /*------ Basic Setup ---------*/
  html {
    font-size: 7px;
  }

  /*------ Grid ---------*/
  .row {
    width: 95vw !important;
    margin: 0 auto !important;
  }

  section {
    padding: 6rem 0 !important;
  }

  .box {
    padding: 0.2rem !important;
  }

  /*------ h1,h2,h3,h4,h5,h6 --------*/
  h1 {
    font-size: 3.4rem;
    word-spacing: 0.5rem;
    line-height: 4.5rem;
  }

  h2 {
    font-size: 2.6rem;
  }

  h3 {
    font-size: 1.8rem;
    letter-spacing: 0.04rem !important;
    font-weight: bold !important;
  }

  /*------ Paragraphs ------------*/
  .para-head {
    font-size: 1.8rem;
    line-height: 130%;
    width: 85vw;
    margin: 0 auto 2rem;
  }

  /*------ Button ------------*/
  .btn,
  .btn:link,
  .btn:visited {
    font-size: 1.6rem;
    padding: 1rem 1.5rem;
  }

  /*------ Header Section ------------*/
  nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 999;
  }

  .navigation {
    width: 100vw !important;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    transition: all 0.6s linear;
    -webkit-transition: all 0.6s linear;
    -moz-transition: all 0.6s linear;
    -ms-transition: all 0.6s linear;
    -o-transition: all 0.6s linear;
  }

  .navigation.show {
    background: #fff;
  }

  .nav-menu {
    margin-top: 2rem;
    display: none;
    transition: all 0.6s linear;
    -webkit-transition: all 0.6s linear;
    -moz-transition: all 0.6s linear;
    -ms-transition: all 0.6s linear;
    -o-transition: all 0.6s linear;
  }

  .navigation.show .nav-menu {
    display: block;
  }

  .navigation.show .nav-menu ul li a,
  .navigation.show .nav-menu ul li a:link,
  .navigation.show .nav-menu ul li a:visited {
    color: #555;
  }

  .nav-menu ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .nav-menu ul li {
    margin: 1rem 0;
  }

  .nav-menu ul li a,
  .nav-menu ul li a:link,
  .nav-menu ul li a:visited {
    font-size: 2rem;
  }

  .nav-btn {
    margin: 0;
  }

  .nav-btn .btn {
    margin: 0;
  }

  .logo {
    width: 95vw;
  }

  .responsive-menu-btn {
    display: block;
  }

  .hero {
    width: 100vw;
    height: 90vh;
  }

  .hero-text {
    transform: translate(-50%, -50%);
  }

  /*------ Meals Section ---------*/
  .meals {
    padding: 0 !important;
  }

  .meals ul li img {
    height: 15rem;
  }

  /*------ How It Works Section ---------*/
  .steps-box:first-child {
    text-align: center;
  }

  .app-screen {
    width: 50%;
  }

  .works-step {
    margin: 1rem 0 3rem;
  }

  .btn-app {
    width: 35%;
    margin: 1.5rem 3rem 3rem 0;
  }

  /*------ Cities Section ---------*/
  .cities-info {
    margin: 1rem 0;
  }

  .cities-info i {
    font-size: 1.6rem;
    text-align: center;
    color: #fc5619;
    width: 2.5rem;
    padding: 0;
  }

  .cities-info p {
    padding: 0 0 0 1rem;
    font-weight: 400;
    font-size: 1.6rem;
  }

  .cities-info a,
  .cities-info a:link,
  .cities-info a:visited {
    padding: 0 0 0 1rem;
    font-size: 1.6rem;
    line-height: 130%;
  }

  /*------ Testimonials Section ---------*/
  .test-box {
    padding: 1rem;
  }

  .test-box i {
    font-size: 2.5rem;
  }

  .test-box p {
    font-size: 1.8rem;
    padding: 0 0 2rem;
    font-weight: 300;
    font-style: italic;
    line-height: 135%;
    word-spacing: 0.3rem;
  }

  .test-box .user img {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    margin-right: 1.5rem;
    margin-bottom: 2rem;
  }

  /*------ Plan Section ---------*/
  .plan-box div {
    padding: 1.5rem 1rem;
  }

  .plan-price {
    font-size: 4rem;
  }

  .plan-price span {
    font-size: 1.8rem;
    font-weight: 400;
  }

  .plan-price-meal {
    font-size: 1.8rem;
  }

  .plan-box ul li {
    padding: 0.5rem 0;
    font-size: 1.8rem;
  }

  .plan-box ul li i {
    width: 3rem;
  }

  /*------ Contact Section ---------*/
  .contact-row {
    width: 95vw;
  }

  .field {
    width: 95vw;
    margin: 0 auto;
  }

  .contact-row label {
    font-size: 1.6rem;
  }

  .contact-row input[type="text"],
  .contact-row input[type="email"],
  .contact-row textarea,
  .contact-row select {
    font-size: 1.6rem;
  }

  .contact-row input[type="checkbox"] {
    margin: 0.5rem 0.5rem 1rem 0;
  }

  .contact-row span {
    font-size: 1.6rem;
    font-weight: 400;
  }

  /*------ Footer Section ---------*/
  .menu-links ul a,
  .menu-links ul a:link,
  .menu-links ul a:visited,
  .social-links ul a,
  .social-links ul a:link,
  .social-links ul a:visited {
    font-size: 1.6rem;
    padding-right: 1.5rem;
  }

  footer p {
    font-size: 1.5rem;
    font-weight: 400;
    color: #888;
    text-align: center;
    padding: 5rem 3rem 0;
    line-height: 130%;
  }

  footer p:last-child {
    padding: 3rem 1rem 0;
  }
}
